@media screen and (min-width:768px) {

    header {
        margin: 24px 16px 99px;
    }

    .solution {
        width: 505px;
        font-size: 56px;
        line-height: 55px;
    }

    .line {
        Width: 28%;
        Height: 19px;
        margin: 0px 0px -24px 224px;
    }

    .marketing {
        width: 350px;
    }

    .imagehero {
        display: none;
    }

    .imagehero2 {
        width: 321px;
        display: block;
        margin: -432px 0px 0px 53%;
        z-index: -1;
    }

    .statistic {
        margin: 88px 0px 80px 0px;
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .jeremy {
        width: 94%;
        height: 676px;
    }

    .line2 {
        margin: 37px 0px 21px 0px;
    }

    .really {
        width: 567px;
    }

    bottom {
        flex-direction: row;
        justify-content: space-around;
        align-items: end;
        gap: 93px;
        height: 638px;
        margin: -486px 0px 0px;
    }

    .icons {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        gap: 18px;
        margin: 34px 0px;
    }

}

@media screen and (min-width:1024px) {

    header {
        margin: 70px 16px 99px;
        width: 83%;
    }

    .text {
        width: 82%;
    }

    .solution {
        font-size: 72px;
        width: 642px;
        line-height: 80px;
    }

    .line {
        width: 271px;
        margin: 0px 0px -33px 300px;
    }

    .marketing {
        font-size: 18px;
        line-height: 30px;
    }

    .imagehero2 {
        width: 345px;
        margin: -541px 0px 0px 9%;
    }

    .request {
        width: 219px;
        height: 56px;
    }

    .request:hover {
        cursor: pointer;
        background: #172339;
        transition: 0.4s;
        color: #FFFFFF;

    }

    .statistic {
        flex-direction: column;
        gap: 35px;
        align-items: flex-end;
        margin: -545px 0px 123px -11%;
    }

    .jeremy {
        width: 80%;
        height: 540px;
    }

    .hero {
        display: none;
    }

    .herolarge {
        display: block;
        margin: -180px 553px -509px 0px;
        z-index: 1;
    }

    bottom {
        margin: -277px 0px 0px;
        height: 438px;
    }

    .blur {
        bottom: -57px;
        width: 500px;
        margin: 0px 511px 0px 0px
    }

    .works {
        font-size: 48px;
        margin: -12px 0px 58px 500px
    }

    .really {
        font-size: 20px;
        text-align: left;
        margin: 0px -68px 0px 500px;
        width: 355px;
    }

    .name {
        margin: 60px 0px 7px 384px;
    }

    .CMO {
        margin: -8px 0px -110px 323px;
    }

    .line2 {
        margin: 157px 0px -80px 0px;
    }

    .beta:hover {
        transition: 1s;
        cursor: pointer;
        background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
    }

    .socialmedia>img:hover {
        cursor: pointer;
        filter: invert(95%) sepia(15%) saturate(291%) hue-rotate(347deg) brightness(108%) contrast(90%);
        transition: 0.4s;
    }
}